<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutClean">

<section layout:fragment="content">
<input type="hidden" id="recuperar" th:attr="data-recuperar=@{/recuperar}"/>
<div class="col-md-6 ">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h4>Faça seu login</h4>
	  </div>
		<div class="panel-body">
    <form th:action="@{/login}" method="POST" class="form-signin">
            <div th:if="${param.error}" class="alert alert-warning" role="alert">
             <strong id="sumary">Tente Novamente</strong><span id="text" style="margin-left: 5px">E-mail ou Senha estão incorretos</span>
            </div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" name="email" class="form-control" id="email" placeholder="E-mail" autocomplete="off" autofocus="autofocus"/>
			</div>
			<div class="form-group">
				<label for="senha">Senha</label>
				<input type="password" name="password" class="form-control" id="senha" placeholder="Senha" autocomplete="off"/>
				<a class="help-block" style="float: right;cursor: pointer;" data-toggle="modal" data-target="#myModal">Recuperar Senha</a>
			</div>
			<div class="col-md-12">
				<button class="btn btn-purple" style="width: 100%" name="Submit" type="Submit">Acessar</button>
			</div>
   </form>
		</div>
	</div>
</div>

<div class="col-md-6 ">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h4>Registre-se</h4>
	  </div>
		<div class="panel-body">
         <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
         
         <div class="alert alert-success alert-dismissible" role="alert" th:if="${erroRegistro != null and !erroRegistro}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
           <span aria-hidden="true">&times;</span>
          </button>
             <strong id="sumary">Yeah!</strong><span id="text" style="margin-left: 5px">Registro feito com sucesso! Faça seu login!</span>
         </div>
       
         <div class="alert alert-danger alert-dismissible" role="alert" th:if="${erroRegistro!= null and erroRegistro}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
           <span aria-hidden="true">&times;</span>
          </button>
          <div th:each="e : ${erros}">
             <strong id="sumary">Ops...</strong><span id="text" style="margin-left: 5px" th:text="${e}"></span>
          </div>
         </div>
         
         	<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" placeholder="Nome" autocomplete="off" autofocus="autofocus" th:field="*{nome}" required="required"/>
			</div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" class="form-control" id="email" placeholder="E-mail" autocomplete="off" th:field="*{email}" required="required"/>
				<p class="help-block">O seu e-mail será usado para acessar o sistema</p>
			</div>
			<div class="form-group">
				<label for="senha">Senha</label>
				<input type="password" class="form-control" id="senhaRegisto" placeholder="Senha" autocomplete="off" th:field="*{senha}" required="required"/>
			</div>
			<div class="form-group">
				<label for="confirmarSenha">Confirmar Senha</label>
				<input type="password" class="form-control" id="confirmarSenhaRegistro" placeholder="Confirmar Senha" autocomplete="off" th:field="*{confirmarSenha}" required="required"/>
			</div>
			<div class="form-group">
				<label for="idioma">Qual Idioma você vai praticar?</label>
                <select class="form-control" id="idioma" th:field="*{idioma}">
                 <option value=""></option>
                 <option th:each="i : ${idiomas}" th:value="${i.id}" th:text="${i.idioma}"></option>
                </select>
				<p class="help-block">Você pode adicionar mais idiomas depois :)</p>
			</div>
			<div class="col-md-12">
				<button class="btn btn-purple" style="width: 100%" type="submit">Registrar</button>
			</div>
		</form>
		</div>
	</div>
</div>



<form id="formRecuperar">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recuperar Senha</h4>
      </div>
      <div class="modal-body">
       <div class="form-group">
        <label>E-mail</label>
        <input id="emailRecuperar" class="form-control" placeholder="E-mail" type="email" required="required"/>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-purple">Recuperar</button>
      </div>
    </div>
  </div>
</div>
</form>

</section>
<section layout:fragment="js">

<script type="text/javascript">
var password = document.getElementById("senhaRegisto")
, confirm_password = document.getElementById("confirmarSenhaRegistro");

function validatePassword(){
if(password.value != confirm_password.value) {
  confirm_password.setCustomValidity("As senhas não são iguais");
} else {
  confirm_password.setCustomValidity('');
}
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;


	$(document).ready(function() {
		$("#formRecuperar").submit(function(e) {
			e.preventDefault();
			var recuperar = $("#recuperar").attr("data-recuperar");
			$.ajax({
				url : recuperar,
				type : 'GET',
				data : {
					email : $("#emailRecuperar").val()
				},
				statusCode : {
					200 : function(xhr) {
						if(xhr){
							addGrowl("Senha recuperada!", "Sua nova senha foi enviada para seu e-mail", "success")
						}else{
							addGrowl("Ops...", "Nenhum usuário encontrado com o e-mail " + $("#emailRecuperar").val(), "danger")
						}
						$("#myModal").modal('hide')
					},
					500 : function() {
						addGrowl("Ops...", "Ocorreu algum erro", "danger");
						$("#myModal").modal('hide')
					}
				}
			});

		});
	})
</script>

</section>

</html>